# ~/.inputrc

set editing-mode vi

# Do not show "(ins)" / "(cmd)" in prompt
set show-mode-in-prompt off

# Clear screen
"\C-l": clear-screen

# Completion
set completion-ignore-case on
set show-all-if-ambiguous on
set menu-complete-display-prefix on

# History search with arrow keys
"\e[A": history-search-backward
"\e[B": history-search-forward

# Quiet terminal
set bell-style none
